#posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 32px;
}
.post__card{
    padding: 16px;

    background-color: var(--background);

    box-shadow: var(--smooth-box-shadow);
    border-radius: var(--border-radius);
}
[data-theme="dark"] .post__card{
    background-color: var(--primary);
}