/*
Main css
*/

/* Colors */

:root{
    --primary : #98c1d9;
    --primary-light: #e0fbfc;
    --primary-dark: #3d5a80;
    --secondary: #ee6c4d;

    --text-color: black;
}
[data-theme="dark"]{
    --primary : #293241;
    --primary-light: #3d5a80;
    --primary-dark: black;
    --secondary: #ee6c4d;

    --text-color: white;
}

/* General */
html{
    box-sizing: border-box;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 0.125fr 1fr 0.125fr;

    background-color: var(--primary-light);
}

p,a,li,ul,ol,h1,h2,h3,h4,h5,h6 {
    color: var(--text-color);
    font-family: 'Nunito', 'Arial', sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*Theme switch wrapper*/
#theme-switch-wrapper{
    position: fixed;
    top: 20px;
    right: 20px;
}
/* Menu */
nav#menu{
    height: 100%;
    background-color: var(--primary);
    vertical-align: center;
}
#menu__list{
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
/* Footer */
section#footer{
    height: 100%;
    background-color: var(--primary);
    text-align: center;
}

#footer__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}