{% extends "template.twig" %}

{% block style %}
    <link rel="stylesheet" href="/public/css/blog.css">
{% endblock %}

{% block content %}

    <div class="hero">
        <div class="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>Blogs</h1>
        </div>
        <hr>
        <div id="posts">
            {% for post in posts %}
                <div class="post__card">
                    <div>
                        {% apply markdown_to_html %}
                            <a href="{{ route("AdminBlog",[post.id]) }}">{{ post.title }}</a>
                        {% endapply %}

                    </div>
                    <hr>
                    {% apply markdown_to_html %}
                        {{ post.description }}
                    {% endapply %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}