{% extends "template.twig" %}

{% block content %}
    <form action="/loginP" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
    </form>
{% endblock %}