{% extends "template.twig" %}

{% block style %}
    <link rel="stylesheet" href="/public/css/home.css">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>Popblog</h1>
        </div>
        <hr>
        <p>
            Popblog is a brand new blog ! However it is pretty useless, except if you like to explore wonderful websites.
        </p>
    </div>

    <div class="hero">
        <div class="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>Creators</h1>
        </div>
        <hr>
        <div class="github">
            <div class="github-card" data-github="enzogzz" data-width="400" data-height="320" data-theme="default"></div>
            <div class="github-card" data-github="nyamort" data-width="400" data-height="320" data-theme="default"></div>

            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
    </div>


{% endblock %}