{% extends "template.twig" %}

{% block style %}
    <link rel="stylesheet" href="/public/css/home.css">
{% endblock %}

{% block content %}
    <div id="hero">
        <div id="hero__title">
            <i class="far fa-bookmark"></i>
            <h1>Popblog</h1>
        </div>
        <hr>
        <p>
            Popblog is a brand new blog ! However it is pretty useless, except if you like to explore wonderful websites.
        </p>
    </div>


{% endblock %}