{% extends "template.twig" %}

{% block content %}
    {% for post in posts %}
        <div class="news__item">
            <h3><a href="/post/{{ post.id }}">{{ post.title }}</a></h3>
            <p>{{ post.description }}</p>
        </div>
        <hr>
    {% endfor %}

    <form action="/post/insert" method="POST">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="submit">
    </form>
{% endblock %}