{% extends "template.twig" %}

{% block content %}
    {% for news in allNews %}
        <div class="news__item">
            <h3>{{ news.title }}</h3>
            <p>{{ news.desc }}</p>
        </div>
        <hr>
    {% endfor %}

    <form action="/~enzo/popblog/news/insert" method="POST">
        <input type="text" name="title">
        <input type="text" name="description">
        <input type="submit">
    </form>
{% endblock %}