<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="public/assets/logo_white.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="public/css/main.css">
    <script src="public/js/cookie.js"></script>
    {% block style %}
    {% endblock %}

    <title>Popblog</title>
</head>
<body>
    <header>
        <nav id="menu">
            <ul id="menu__list">
                <li><a href="/"><img src="public/assets/logo_white.png" alt="logo" width="50px"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="contact">Contact us</a></li>
            </ul>
        </nav>
    </header>

        <div id="theme-switch-wrapper">
            <label id="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" style="display: none"/>
                <i class="fas fa-moon fa-lg"></i>
            </label>
        </div>

    <section id="content">
        {% block content %}

        {% endblock %}
    </section>

    <footer>
        <section id="footer">
            <ul id="footer__list">
                <li><a href="">Some</a></li>
                <li><a href="">Meow</a></li>
                <li><a href="">To</a></li>
                <li><a href="">Miaou</a></li>
            </ul>
            <p>All right pas reserved 2021 ©</p>
        </section>
    </footer>
</body>

<script>
    /*Light - Dark mode handler*/

    const toggleSwitch = document.querySelector('#theme-switch input[type="checkbox"]');

    if(getCookie("theme") === "dark"){
        toggleSwitch.checked = true;
        document.documentElement.setAttribute('data-theme', 'dark');
    }

    function switchTheme(e) {
        if (e.target.checked) {
            setCookie("theme","dark",30);
            document.documentElement.setAttribute('data-theme', 'dark');
        }
        else {
            setCookie("theme","light",30);
            document.documentElement.setAttribute('data-theme', 'light');
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);
</script>

</html>